.navbar-brand {
  margin-left: 150px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}
.navbar-brand:hover{
  color: white;

}


nav{
  background-color: #FF4A4A;
}

.container {
  margin-top: 5%;
  margin-left: 15%;
}
p {
  line-height: normal;
}
input, select {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button{
  width: 80%;
  margin-top: 15px;
}

#qrcode{
  margin-bottom: 5px;
  margin-left: 25%;
}
#save-link {
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 33%;
  background-color: #FF4A4A;
  color: white;

}


@media (max-width: 1000px) {
  #qrcode {
    margin-left: auto;
  }
  #save-link {
    margin-left: 20%;
  }
  .col-lg-6{
    margin-top: 10px;
  }
}
